*.d
*.o
*.swp
*~
/libplainmouth.so
/plugins
Makefile
aclocal.m4
autom4te.cache
client
config.h
config.log
config.status
configure
plainmouth
plainmouthd
plaindialog
tests/*.log
tests/*/*.log
tests/daemon/daemon_task_test
tests/daemon/daemon_worker_test
tests/daemon/daemon_resize_test
tests/daemon/daemon_help_test
tests/daemon/daemon_cursor_test
tests/daemon/daemon_animation_test
tests/ipc/ipc_command_processing
tests/ipc/ipc_handle_key_value_pairs
tests/ipc/ipc_init_and_free
tests/ipc/ipc_listen_and_accept
tests/ipc/ipc_process_parallel
tests/ipc/ipc_recv_timeout
tests/ipc/ipc_send_and_receive
tests/ipc/ipc_send_key_value_pairs
tests/ncurses-leaks/panel
tests/warray/warray_test
tests/widget/widget_flex_axis_test
tests/widget/widget_box_test
tests/widget/widget_input_test
tests/widget/widget_positioned_test
tests/widget/widget_menu_test
tests/widget/widget_spinbox_test
tests/widget/widget_style_test
tests/widget/widget_tailview_test
tests/widget/widget_termbox_output_test
tests/widget/widget_termbox_input_test
