*.d
*.o
*.swp
*~
Makefile
aclocal.m4
autom4te.cache
client
config.h
config.log
config.status
configure
plainmouth
plainmouthd
tests/*/*.log
tests/ipc/ipc_command_processing
tests/ipc/ipc_handle_key_value_pairs
tests/ipc/ipc_init_and_free
tests/ipc/ipc_listen_and_accept
tests/ipc/ipc_process_parallel
tests/ipc/ipc_recv_timeout
tests/ipc/ipc_send_and_receive
tests/ipc/ipc_send_key_value_pairs
/plugins
